<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__brand" href="/">{{ site.title }}</a>
    {% include "components/language-switcher.njk" %}
  </div>
</header>
