---
layout: layouts/base.njk
---
<article class="chapter">
  <header class="chapter__header">
    <p class="chapter__order">第 {{ order }} 章</p>
    <h1 class="chapter__title">{{ title }}</h1>
  </header>

  <div class="chapter__body">
    {{ content | safe }}
  </div>

  {% include "components/nav.njk" %}
</article>
